.authform
  = form_for @group, html: {method: :patch, :role => 'form'} do |f|
    %h3 Change group
    - if @group.errors.any?
      #error_explanation
        = render 'shared/messages', obj: @group
    .form-group
      = f.label :name
      = f.text_field :name, autofocus: true, class: 'form-control'
    = f.submit "Change group", :class => 'button right'
    = render "shared/form_nav_links", locals: { back: true }