.form-company
  = f.label :first_name
  = f.text_field :first_name, autofocus: true, class: 'form-control'
.form-company
  = f.label :mid_name
  = f.text_field :mid_name, class: 'form-control'
.form-company
  = f.label :last_name
  = f.text_field :last_name, class: 'form-control'
.form-company
  = f.label :email
  = f.email_field :email, class: 'form-control'
.form-company
  = f.label :alt_email
  = f.email_field :alt_email, class: 'form-control'
.form-company
  = f.label :phone
  = f.text_field :phone, class: 'form-control'
.form-company
  = f.label :mobile
  = f.text_field :mobile, class: 'form-control'
.form-company
  = f.label :skype
  = f.text_field :skype, class: 'form-control'