.authform
  = form_for @contact, html: {method: :patch, :role => 'form'} do |f|
    %h3 Change contact
    - if @contact.errors.any?
      #error_explanation
        = render 'shared/messages', obj: @contact
    = render 'form', f: f
    = f.submit "Change contact", :class => 'button right'
    = render "shared/form_nav_links", locals: { back: true }