.container
  .row
    .col-md-3
      #search_contacts{style: "display:none"}
    .col-md-9
      %h3
        Contacts
        %table.my_table
          %thead
            %tr
              %th= sortable("last_name", "Full name", "columns" => ["first_name", "mid_name"])
              %th= sortable("company_id", "Company")
              %th Email
              %th Phone
              %th Mobile
              %th Skype
              %th Access
              %th= sortable("user_id", "Created by")
              %th= sortable("assigned_to", "Assigned to")
              %th
          %tbody
            -@contacts.each do |contact|  
              %tr
                %td= contact.full_name
                %td= contact.company.title if contact.company
                %td= contact.email
                %td= contact.phone
                %td= contact.mobile
                %td= contact.skype
                %td= contact.access
                %td= contact.user.name
                %td= contact.assignee.name if contact.assignee
                %td
                  =link_to 'Edit contact | ', edit_contact_path(contact)
                  =link_to 'Destroy contact', contact_path(contact), method: :delete
          %tfoot
            %tr
              %td{:span => 8}
                %strong All contacts
              %td
                %strong
                  =@contacts.length
              %td
      %ul.nav.nav-pills
        %li
          =link_to "New contact", new_contact_path
        %li.active
          =link_to "Home", root_path