%h3
  List of users
  %table.my_table
    %thead
      %tr
        %th= sortable("email")
        %th= sortable("last_name", "Full name", {"columns" => ["name", "mid_name"]})
        %th= sortable("department_id", "Department")
        %th= sortable("position_id", "Position")
        %th Admin
        %th
    %tbody
      - @users.each do |user|  
        %tr
          %td= user.email
          %td= user.full_name
          %td= user.department.title if user.department
          %td= user.position.title if user.position
          %td= user.admin
          %td
            =link_to 'Edit', edit_user_path(user)
            =link_to 'Destroy', user_path(user), method: :delete
    %tfoot
      %tr
        %td{:span => 2}
          %strong All users:
        %td
          %strong
            =@users.length
        %td{:span => 2}
%ul.nav.nav-pills
  %li
    =link_to "New user", new_user_path
  %li.active
    =link_to "Back", :back
