%h3
  List of users
  %table.my_table
    %thead
      %tr
        %th Email
        %th Name
        %th Midname
        %th Last name
        %th Department
        %th Position
        %th Admin
        %th
    %tbody
      - @users.each do |user|  
        %tr
          %td= user.email
          %td= user.name
          %td= user.mid_name
          %td= user.last_name
          %td= user.department.title if user.department
          %td= user.position.title if user.position
          %td= user.admin
          %td
            =link_to 'Edit', edit_user_path(user)
            =link_to 'Destroy', user_path(user), method: :delete
    %tfoot
      %tr
        %td{:span => 3}
          %strong All users:
        %td
          %strong
            =@users.length
        %td{:span => 3}
%ul.nav.nav-pills
  %li
    =link_to "New user", new_user_path
  %li.active
    =link_to "Back", :back
