.container
  .row
    .col-md-3
      .container
        =form_tag activities_path, method: "get"
        =hidden_field_tag :direction, params[:direction]
        =hidden_field_tag "sort[]", params[:sort]
        =label_tag :completed
        =radio_button_tag :completed, true, included_in_params?(:completed), id: "completed"
        %br
        =label_tag :planned
        =radio_button_tag :completed, false, !included_in_params?(:completed), id: "planned"
        %br
        =label_tag :select_all, "Select all:"
        =radio_button_tag "select_all", true, included_in_params?(:select_all), id: "select_all"
        %br
        =label_tag :select_by_contact
        =radio_button_tag "select_all", "", !included_in_params?(:select_all), id: "select_by_contact"
        %br
        =select_tag "select_by_contact_id", options_from_collection_for_select(Contact.all, 'id', 'full_name', params[:select_by_contact_id]), prompt: "Select contact", disabled: select_by_contact_id_disabled?(:select_by_contact_id)
        %br
        =submit_tag "Filter", name: nil
    .col-md-9
      %h3
        Activities
        %table.my_table
          %thead
            %tr
              %th Contact
              %th Type
              %th Subject
              %th Info
              %th User
              %th Due at
              %th Complited at
              %th= sortable("created_at", "Created at")
              %th
          %tbody
            -@activities.each do |a|  
              %tr
                %td= a.contact.full_name
                %td= a.activity_type.title
                %td= a.subject
                %td= a.info
                %td= a.user.name
                %td= a.date_planned
                %td= a.date
                %td= a.created_at
                %td
                  =link_to 'Edit | ', edit_activity_path(a)
                  =link_to 'Destroy', activity_path(a), method: :delete
          %tfoot
            %tr
              %td{:span => 7}
                %strong All activities
              %td
                %strong
                  =@activities.length
              %td
      %ul.nav.nav-pills
        %li
          =link_to "New type", new_activity_path
        %li.active
          =link_to "Home", root_path