-if user_signed_in?
  %li= link_to "Groups", groups_path
  -if current_user.admin?
    %li= link_to 'Company types', company_types_path
    %li= link_to 'Companies', companies_path
    %li= link_to 'Activity types', activity_types_path
    %li.dropdown
      %a.dropdown-toggle{href: "#", class: "dropdown-toggle", "data-toggle" => "dropdown", role: "button", "aria-haspopup" => true, "aria-expanded" => false}
        Contacts
        %span.caret
      %ul.dropdown-menu
        %li= link_to 'All', contacts_path
        %li= link_to '#', contacts_path
    %li= link_to 'Departments', departments_path
    %li= link_to 'Posititons', positions_path
    %li.dropdown
      %a.dropdown-toggle{href: "#", class: "dropdown-toggle", "data-toggle" => "dropdown", role: "button", "aria-haspopup" => true, "aria-expanded" => false}
        Users
        %span.caret
      %ul.dropdown-menu  
        %li= link_to 'Users', users_path
        %li= link_to 'Edit account', edit_user_registration_path
        %li= link_to 'Sign out', destroy_user_session_path, :method=>'delete'
-else
  %li= link_to 'Sign in', new_user_session_path
  %li= link_to 'Sign up', new_user_registration_path